.product-quantity {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

@media screen and (min-width: 300px) {
    .product-quantity {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap:0rem;
}
}